{% extends "base.html" %}

{% block content %}

<table class="table table-striped">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>College Name</td>
            <td width="15%">
                <a href="{%url 'college_insert' %}" class="btn btn-outline-success btn-sm">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for n in clg_list %}
            <tr>
                <td>{{n.college_name}}</td>
                <td>
                    <a href="{% url 'college_update' n.id%}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'delete_college' n.id%}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<table class="table table-striped">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td width="25%">College Name</td>
            <td width="25%">Department</td>
            <td width="15%">HOD</td>
            <td width="15%">TUTOR</td>
            <td width="15%">
                <a href="{% url 'details_insert' %}" class="btn btn-outline-success btn-sm">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for n in department_list %}
            <tr>
                <td>{{n.college_name}}</td>
                <td>{{n.department_name}}</td>
                <td>{{n.head_of_department}}</td>
                <td>{{n.tutor}}</td>
                <td>
                    <a href="{% url 'details_update' n.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{%url 'delete' n.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}