{% extends "base.html" %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    {{dept_form}}
    <br><br>
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-sm"><i class="fas fa-database"></i>
                Submit</button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'list' %}" class="btn btn-secondary  btn-sm">
                <i class="fas fa-stream"></i> Back to list
            </a>
        </div>
    </div>
</form>

{% endblock content %}

