{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {{form.college_name|as_crispy_field}}
    {{form.department_name|as_crispy_field}}
    <div class="row">
        <div class="col-md-4">
             {{form.head_of_department|as_crispy_field}}
        </div>
        <div class="col-md-4">
            {{form.tutor|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Submit</button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'list' %}" class="btn btn-secondary  btn-lg">
                <i class="fas fa-stream"></i> Back to list
            </a>
        </div>
    </div>

</form>
{% endblock content %}